<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../css/style.css">

    <style>
        /*<!-- 사진 추가용 스타일-->*/
        .image-preview-container {
            display: flex;
            align-items: center;
        }

        .file-input-container {
            margin-right: 10px;
        }

        #preview-image {
            max-width: 200px;
            max-height: 200px;
        }
    </style>
    <title>내 정보 수정</title>
</head>

<body>
    <div class="content">
        <div class="wrapper">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="main-merge">
                                <div>
                                    <h3> <strong>내 정보 수정</strong></h3>
                                </div>
                                <form action="#" method="post">
                                    <div class="sign-nameHeader">
                                        <br>
                                        <input type="text" class="form-control" name="memberName" value="이름고정" readonly>
                                    </div>

                                    <!--버튼이 한줄에 오기위해  부모에 input-button-wrapper 추가후 
                                    css 수정-->
                                    <div class="sign-nameHeader">
                                        <input type="text" class="form-control" name="memberId" value="아이디 고정" readonly>

                                    </div>

                                    <div class="sign-nameHeader">
                                        <label>비밀번호(필수)</label>

                                        <input type="password" class="form-control" name="memberPw">
                                    </div>

                                    <div class="sign-nameHeader">
                                        <label for="passwordConfirm">비밀번호 재확인</label>

                                        <input type="password" class="form-control" name="memberPwConfirm">
                                    </div>

                                    <div class="sign-nameHeader">
                                        <label>전화번호(필수)</label>

                                        <div class="input-button-wrapper">
                                            <input type="text" class="form-control" name="memberTel">
                                            <button onclick="phoneOK()">인증</button>
                                        </div>
                                    </div>

                                    <!--집주소 zipcode 그대로 사용한다고 가정-->
                                    <div class="sign-nameHeader">
                                        <label for="memberAddr">집주소</label>
                                    </div>
                                    <div>
                                        <br>
                                        <input name="zipcode" size="5" readonly>
                                        <input type="button" value="우편번호찾기" onClick="zipSearch()">
                                    </div>
                                    <div class="sign-nameHeader">
                                        <br>
                                        <input name="area1" size="7" readonly>
                                        <input name="area2" size="10" readonly>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <label>직장 주소</label>
                                        <br />
                                    </div>
                                    <div>
                                        <input name="zipcode" size="5" readonly>
                                        <input type="button" value="우편번호찾기" onClick="zipSearch()">
                                        <div class="sign-nameHeader">
                                            <br>
                                            <input name="area1" size="7" readonly>
                                            <input name="area2" size="10" readonly>
                                        </div>
                                    </div>

                                    <div class="sign-nameHeader fourth">
                                        <label for="jobadd">관심 지역</label>
                                        <br>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <div class="form-row">
                                            <div class="col">
                                                <select class="form-control" name="area1">
                                                    <option value="">광역시</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-control" name="area2">
                                                    <option value="">구 / 동</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <label>생일</label>
                                        <br>

                                    </div>
                                    <div class="sign-nameHeader">
                                        <div class="form-row">
                                            <div class="col">
                                                <select class="form-control" name="year">
                                                    <option value="">연도</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-control" name="month">
                                                    <option value="">월</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-control" name="day">
                                                    <option value="">일</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        // 연도 옵션 생성
                                        var yearSelect = document.getElementById("year");
                                        var currentYear = new Date().getFullYear();
                                        for (var i = currentYear; i >= 1900; i--) {
                                            var option = document.createElement("option");
                                            option.text = i;
                                            option.value = i;
                                            yearSelect.add(option);
                                        }

                                        // 월 옵션 생성
                                        var monthSelect = document.getElementById("month");
                                        for (var i = 1; i <= 12; i++) {
                                            var option = document.createElement("option");
                                            option.text = i;
                                            option.value = i;
                                            monthSelect.add(option);
                                        }

                                        // 일 옵션 생성
                                        var daySelect = document.getElementById("day");
                                        for (var i = 1; i <= 31; i++) {
                                            var option = document.createElement("option");
                                            option.text = i;
                                            option.value = i;
                                            daySelect.add(option);
                                        }
                                    </script>

                                    <div class="sign-nameHeader">
                                        <label>업종 / 직무 / 테마</label>
                                        <br>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <div class="form-row">
                                            <div class="col">
                                                <select class="form-control" name="businessName">
                                                    <option value="">업종</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-control" name="taskName">
                                                    <option value="">직무</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-control" id="themName">
                                                    <option value="">테마</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sign-nameHeader">
                                        <label>성별</label>
                                        <br>
                                    </div>
                                    <div style="text-align: center;">
                                        <div class="d-inline-block" style="margin-right: 50px;">
                                            <input class="form-check-input" type="radio" name="memberSex" id="memberSex"
                                                value="male">
                                            <label class="form-check-label" for="male">
                                                남자
                                            </label>
                                        </div>
                                        <div class="d-inline-block" style="margin-left: 50px;">
                                            <input class="form-check-input" type="radio" name="memberSex" id="memberSex"
                                                value="female">
                                            <label class="form-check-label" for="female">
                                                여자
                                            </label>
                                        </div>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <label>관심사</label>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" id="categoryName">
                                            <option value="">관심사 선택</option>
                                        </select>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <label>회원사진</label>
                                        <br>
                                    </div>

                                    <div class="image-preview-container">
                                        <img id="memberImg" src="" alt="Preview Image">
                                        <div class="file-input-container">
                                            <input type="file" class="form-control-file" id="memberImg"
                                                name="memberImg" onchange="showPreviewImage(this)">
                                        </div>
                                    </div>

                                    <script>
                                        function showPreviewImage(input) {
                                            var previewImage = document.getElementById('memberImg');
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function (e) {
                                                    previewImage.src = e.target.result;
                                                }
                                                reader.readAsDataURL(input.files[0]);
                                            } else {
                                                previewImage.src = '';
                                            }
                                        }
                                    </script>

                                    <br>
                                    <br>
                                    <div class="sign-nameHeader">
                                        <label>자기소개</label>
                                        <br>
                                    </div>

                                    <div class="sign-nameHeader">
                                        <textarea class="form-control" id="memberProfile" name="memberProfile" rows="4"
                                            maxlength="100" placeholder="자기소개를 해주세요. (100자 이내)"></textarea>
                                    </div>
                                    <input type="submit" value="수정하기" class="btn btn-pill text-white btn-block"
                                        style="background-color: pink;">

                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>