<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <style>
        /* 사진 추가용 스타일 */
        .image-preview-container {
            display: flex;
            align-items: center;
        }

        .file-input-container {
            margin-right: 10px;
        }

        #preview-image {
            max-width: 200px;
            max-height: 200px;
        }
    </style>

    <title>찜목록</title>
</head>

<body>

    <div class="content">
        <div class="wrapper">
            <div class="row justify-content-center">

                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="main-merge"> <!--main page 간격-->
                                <div class="mb-4 d-flex align-items-center">
                                    <a href="#" class="btn btn-light ml-0">
                                        <span class="icon-arrow-left"></span>
                                    </a>
                                    <h3 class="ml-1 mb-0"><strong>내 찜 모임</strong></h3>
                                </div>
                                <form action="#" method="post">
                                    <!-- 찜한 상품 목록 -->
                                    <ul class="list-group mt-4">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="images/test.jpg" alt="Product 1" class="img-fluid" name="moimImg">
                                                </div>
                                                <div class="col-md-9">
                                                    <h5 class="mb-0" name="moimName">살랑살랑라이딩</h5>
                                                    <p class="mb-0" name="area1">-경남/부산</p>
                                                    <div class="location-info">
                                                        <strong class="location-text" name="area2">부산진구</strong><span
                                                            class="jjim-member">|맴버 </span>
                                                            <span class="jjim-member" id="moimNCount">249</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!--찜 추가 기폰 폼
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="img/product2.jpg" alt="Product 2" class="img-fluid">
                                                </div>
                                                <div class="col-md-9">
                                                    <h5 class="mb-0">상품 2</h5>
                                                    <p>상품 2에 대한 설명</p>
                                                </div>
                                            </div>
                                        </li>
                                        -->
                                    </ul>



                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>