<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <style>
        /*<!-- 사진 추가용 스타일-->*/
        .image-preview-container {
            display: flex;
            align-items: center;
        }

        .file-input-container {
            margin-right: 10px;
        }

        #preview-image {
            max-width: 200px;
            max-height: 200px;
        }
    </style>

    <title>클래스 개설</title>
</head>

<body>

    <div class="content">
        <div class="wrapper">
            <div class="row justify-content-center">

                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="main-merge"> <!--main page 간격-->
                                <div class="mb-4 d-flex align-items-center">
                                    <a href="#" class="btn btn-light ml-0">
                                        <span class="icon-arrow-left"></span>
                                    </a>
                                    <h3 class="ml-1 mb-0"><strong>클래스 개설</strong></h3>
                                </div>
                                <form action="#" method="post">
                                    <div>
                                        <label for="moimArea">지역</label>
                                        <br>
                                        <textarea class="form-control" id="moimArea" name="moimArea" rows="2"
                                            maxlength="30" placeholder="동.읍.면을 입력해주세요"></textarea>
                                    </div>

                                    <div>
                                        <label for="kindofmoim">클래스 종류</label>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" id="kindofclass">
                                            <option value="">클래스종류(ex.서비스모임)</option>
                                        </select>
                                        <br>
                                        <textarea class="form-control" id="classGoal" name="classGoal" rows="5"
                                            maxlength="100" placeholder="수업이나 활동 내용을 설명해주세요."></textarea>
                                    </div>

                                    <div>
                                        <label for="classHCount">정원 (1~300)</label>
                                        <br>
                                        <textarea class="form-control" id="classHCount" name="classHCount" rows="2"
                                            maxlength="3" placeholder="300"></textarea>
                                    </div>
                                    <input type="submit" value="클래스 만들기" class="btn btn-pill text-white btn-block"
                                        style="background-color: pink;">
            

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>